body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gray;
    font-family: sans-serif;
}

#title{
    font-size: 3rem;
    color: rgb(211, 211, 211);
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(232, 229, 229);
    border: 8px solid;
    border-radius: 25px;
    padding: 15px;
}

#controlPanel{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    font-size: 1.12rem;
}

#toggleButton, #resetButton{
    color: beige;
    font-size: 2.5rem;
    font-weight: bold;
    border: 3px solid;
    border-color: black;
    border-radius: 15px;
    padding: 10px 20px;
    cursor: pointer;
    width: 150px;
    margin-inline: 20px;
}

#toggleButton.start{
    background-color: green;
}
#toggleButton.start:hover{
    background-color: rgba(0, 255, 0, 0.5);
}

#toggleButton.stop{
    background-color: red;
}
#toggleButton.stop:hover{
    background-color: rgba(255, 0, 0, 0.5);
}

#resetButton{
    background-color: blue;
}
#resetButton:hover{
    background-color: rgba(0, 0, 255, 0.5);
}

#timerDisplay{
    font-size: 5rem;
    font-family: monospace;
    font-weight: bold;
    color: darkgray;
    background-color: white;
    border: 3px solid;
    border-color: darkgray;
    border-radius: 15px;
    padding: 10px 20px;
    text-shadow: 2px 2px 2px black;
    margin-top: 1rem;
    margin-bottom: 1rem;
}